.App {
  background-color: yellowgreen;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
  border-radius: 10px;
  height: fit-content;
}



.par {
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: bold;
  padding: 0px;
  margin:0px;
  
}

.btn-primary {
  width:50%;
}

.btn-success, .btn-danger{
  width: 50px;
}

.list-group-item {
  display: inline-flex;
  align-items: center;
  font-size: 1.1rem;
 
  
}

.item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right:1vh;
  padding: 0;
}

.form-control {
  width: min-content;
  font-size: 1.25rem;
}






